@media screen and (max-width: 500px) {
    .cherche {
      width: 100%;
    }
  }
  @media screen and (max-width: 320px) {
    .cherche {
      width: 100%;
    }
  }
  @media screen and (max-width: 4420px) {
    .inputrecherche {
   margin-right: 40px;
    }
  }